body{
	background-color: rgb(210,152,155);
	font-family: cursive;
	}
img{
	width:220px;
}

	
.formatting{
	background-color:pink;
	border-radius: 5px; 
	padding:20px 20px;
	margin:20px;
	}
table,td,th {
	border-collapse:collapse;
	border:2px solid black;
	padding:5px 5px;
	margin:10px ;
	
}
h1{
	text-shadow: 2px 2px pink;
}
p,h1{
	margin:2px;

}

h3{
	font-weight:350;
	margin:4px;

}

.profile{
	padding:1px 1px;
	margin:1px 1px;
	display:inline-block;
	
}
.container{
	background-color:pink;
	border-radius: 5px;
	padding:20px 20px;
	margin:20px;
	display: grid;
	grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
.div1 {
	padding: 10px;
	background-color: rgb(210,152,155);

}
.div2{
	padding: 10px;
	background-color:  rgb(210,152,155);
}

.navbar > ul{
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		background-color:  rgb(210,152,155);
	}
.navbar li{
	float: right;
}
.navbar li a{
	display: block;
	color:white;
	text-align: center;
	padding: 14px 16px;
	
}
#button{
	padding: 5px;
	margin-left: 100%;
}